// ====== COLORS ============

$main-block-backgroundColor: rgb(248, 248, 248);
$main-color: green;

// ===== SIZE ======
$main-margin: 3%;

// ===== fonts =====
$main-font: "Times New Roman", Times, serif;
$second-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;