@import "scss/mixin";
@import "scss/variables";

// * {
//     outline: 1px solid red;
// }

/* JS */


.shadow {
    box-shadow: 5px 10px 8px 10px #888888;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-weight: 900;
}



/*====== Back to home button ================= */

.back_to_home {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 10%;
    z-index: 100;

    i {
        font-size: 90px;
        color: $main-color;
        transition: color .3s;

        &:hover {
            color: $hover-color;
            transition: color .3s;
        }
    }
}

.second-header { 
    @include second-header();
   
   }



/*=== Hlavička === */


.ham-menu {
    display: flex;
    justify-content: flex-end;
    background-color: $main-color;

    i {
        display: block;
        font-size: 70px;
        color: #fff;
        cursor: pointer;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $main-color;

    .icon {
        display: flex;
        align-items: center;

        margin-right: 2%;

        a{
            color: #fff;
            font-size: 35px;
        }

        i {
            transform: scale(1);
            transition: transform .3s;

            &:hover {
                transform: scale(1.2);
                transition: transform .3s;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        
        margin-left: -31px;
        margin-bottom: 0;
        align-self: center;
        padding: 0;

        li {
            list-style-type: none;


            a {
                padding: 30px;

                color: #fff;
                text-decoration: none;

                font-size: 20px;
                font-weight: 900;

                background-color: $main-color;
                
                transition-property: color, background-color;
                transition-duration: .3s, .3s;

                &:hover {
                    color: darken(#fff, 10%);
                    background-color: $hover-color;
                    transition-property: color, background-color;
                    transition-duration: .3s, .3s;

                }

            }
        }
    }

}

.header-left {
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  

    max-width: 100%;
    height: auto;

    background-color: $main-block-backgroundColor;

    position: relative;
    z-index: 1;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    h1 {
        font-size: 120px;
        font-weight: 900;
        font-family: $main-font;

        margin-left: $main-margin;
        margin-top: $main-margin;

        line-height: 100px;

        color: $main-color;

    }

    h2 {
        font-size: 35px;
        font-family: $second-font;
        font-weight: 900;

        margin-left: $main-margin;

            
    }

    h3 {

        color: $main-color;

        font-size: 65px;
        font-weight: 900;
        font-family: $main-font;

        margin-left: $main-margin;
        

        
    }

    h4 {
        color: rgb(228, 94, 94);

        font-size: 35px;
        font-weight: 900;
        font-family: $second-font;

        margin-left: $main-margin;
    }

    ul {

        display: flex;
        flex-direction:  row;

        font-family: $second-font;
        font-size: 20px;
        font-weight: 900;

        i {
            color: $main-color;
            font-size: 30px;
            vertical-align: -3px;
            padding-right: 5px;
        }

        li {
            display: inline-block;
            margin-right: 2%;

            font-weight: 900;

            a {
                color: #000;
                
                font-weight: 900;

                text-decoration: none;

                transition: color .3s;

                &:hover {
                    color: $main-color;
                    transition: color .3s;
                }

            }
        }
    }



}

/*====== O MNE BLOCK ========== */

.o_mne_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include block();

        p {
            margin-top: $main-margin;
            margin-left: $main-margin;
            margin-right: $main-margin;
            font-size: 20px;
            line-height: 35px;
        }

        a {
            margin-top: $main-margin;
            align-self: center;

            img {
                border-radius: 50%;
            }
        }


}


// ======= KURZY BLOCK ============================================
.kurz-block {
    @include block();


}


    
// }

.content-line {
 
    @include content-line();


}

.content-wrap {
    display: flex;
    width: calc(50% - 30px);
    margin-left: 3%;
    margin-right: 3.4%;



    .line {
        display: none;
    }

    ul {
        display: none;

        li {
            font-size: 19px;
            padding: 8px 20px;
            margin: 3px 0;
        }
    }


    }



.content-wrap:nth-of-type(odd){ 

    @include content-wrap();
}

.content-line:nth-of-type(2n) {
    @include content-line();
    
}

.content-wrap:nth-of-type(2n){
    @include content-wrap-2();
   
}

/*=== CENNIK BLOCK ===== */

.cennik-block {
    @include block();


    table {
            width: 94%;
            margin-left: $main-margin;

            td {
                border-bottom: 1px solid rgb(173, 171, 171);
            }

            ul {
                padding: 0;

                li {
                    list-style-type: none;
                }
            }
            
    }

    
}

/*=== SLUZBY BLOCK ================ */

.sluzby-block{
    @include block();
        h3 {
            margin-top: $main-margin;
            margin-left: $main-margin;
            margin-bottom: 1%;
            font-weight: 900;
            font-size: 40px;
            padding-bottom: 20px;
            color: $main-color;
        }
            
            .acoredeon {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                color: #fff !important;
                
                text-decoration: none;
                cursor: pointer;
                padding: 20px;
                background-color: $main-color;
                margin-top: 1%;
                margin-left: $main-margin;

                transition: background-color .4s;

                &:hover {
                    background-color: $hover-color;
                    transition: background-color .4s;
                }




                i {
                    color: #fff;
                    font-size: 40px;
                    margin-right: 1%;
                    
                }
              }


                span {
                    flex-grow: 1;
                    flex-basis: 82%;
                }


                .panel {  

                    padding: 0 20px;
                    max-height: 0;
                    overflow: hidden;
                    margin-left: $main-margin;
                    background-color: $main-color;
                    color: #fff;
                    transition: max-height .3s ease-out;
                    
                    p {
                     margin-top: 20px;
                     font-weight: 0;
                     font-style: italic;
                    }
                    
                }

                .active {
                    background-color: $hover-color;
                }
    
            
            
        
}

.sluzby-block-right {
    .acoredeon {
        margin-right: $main-margin;
    }

    p {
        margin-right: $main-margin;
    }
}

/*=== METODY BLOCK ====================== */
.metody-block {
    @include block();

        .method {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: $main-margin;
            margin-left: $main-margin;
            margin-right: $main-margin;

                li {
                    list-style-type: square;
                    font-size: 18px;
                    font-weight: 600;
                }
        }
}

/*=== KONTAKT BLOCK ============================= */

.kontakt-block {
    @include block();

}

.r-kontakt {
    height: 450px;

    img {
        width: 94%;
        height: 100%;
        object-fit: cover;
    }

}

.l-kontakt {

    ul {

        li {
            list-style-type: none;
            font-size: 20px;
            font-weight: 600;
            border-bottom: 1px solid  darken(#fff, 40%);
            padding: 10px;

            svg {
                margin-right: 3px;

            }

            a {
                color: #000;
                font-weight: 900;
                text-decoration: none;
            }
        }
    }
}

/* == fotogaleria ============================================= */


.fotogallery-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: $main-color;

    h1 {
        font-size: 115px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        
        color: #fff;
    }

}


.wraper-header {
    @include wraper-header-style();

}

.fotogalery-block {

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding: 5px 2.5px;
    }
}

/*====== MODAL BOX ==========*/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    background-color: rgba($color: #000000, $alpha: .7);

}




/* pc */
@media (max-width: 2650px){
    .ham-menu {
        display: none;
    }

}

/* Laptop-l */
@media (max-width: 1440px){
    .ham-menu {
        display: none;
    }
}


/* Laptop */
@media (max-width: 1025px){
    .ham-menu {
        display: none;
    }
}


/* TABLET */
@media (max-width: 769px ){
.header-left {
    display: none;
    }
    }


/* TELEFON */
@media (max-width: 576px ){
.ham-menu {
    display: flex;
}

.header-left {
    display: none;
}

nav {
    display: block;
    height: 0;

    position: absolute;
    top: 70px;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 128, 0, .8);

    transition: height .4s;

    ul {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        margin-left: 0;
        height: 0;

        .acordeon-li {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #fff;
            height: 0;
            padding: 0;
            transition: padding .4s, height .4s;

            &:last-child {
                border: none;
            }

            a {
                width: 100%;
                text-align: center;
                background-color: rgba(0, 128, 0, 0);
                padding: 0px;

            }
        }
    }

    .icon {

        display: none;
    }

}

.show-nav {
    height: 487px;
    transition: height .4s;
}

.acordeon-li.show-li {
    height: 100px;
    padding: 25px;
    transition:padding .4s, height .4s;
}

// .show-a {
//     padding: 25px;
//     transition: padding .4s;
// }

.header-right {

    h1 {
        font-size: 78px;
    }

    h2,h4 {
        font-size: 22px;
    }

    h3 {
       font-size: 40px; 
    }

    ul {
        flex-direction: column;
        font-size: 13px;
        padding-left: $main-margin;
        padding-top: $main-margin;

        li {

            i {
                font-size: 24px;
            }
        }
    }
}

// O MNE BLOCK

.o_mne_block {
    p {
        font-size: 17px;
    }
}

// CENNÍK BLOCK

.cennik-block {
    table {
        width: 100%;
        margin-left: 0;
    } 
}

// Kurzy block

.content-wrap:nth-of-type(odd) {
    text-align: left;
    flex-direction: row;
    width: 100%;

    ul {
        padding: 0;

        li {
            text-align: left;
        }
    }

    h4 {
        margin-left: 3%;
        text-align: left;
    }
}

.content-wrap:nth-of-type(2n) {
    margin-left: 3%;
    width: 100%;

    ul:nth-child(1){
        display: block;;
    }

    ul {
        padding: 0;
    }

    h4 {
        padding-left: 3%;
    }
}

// METODY BLOCK

.method {
    flex-direction: column !important;
}

// Sluzby block
.sluzby-block {
    ul {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.sluzby-block-left {

    .acoredeon {
        margin-right: $main-margin;
    }

    .panel {
        margin-right: $main-margin;
    }
    
}


.sluzby-block-right {

    .panel {
        margin-right: $main-margin;
    }
    
}

.modal {

    img {
        width: 70%;
    }
}

// back to home 

.back_to_home  {

    right: 5%;
    bottom: 2%;
    
    i {
        color: #e45e5e;
        font-size: 70px;
    }

}

}

