@charset "UTF-8";
/* NADPISY STRÁNKY */
/* OBSAH STRÁNKY */
/* JS */
.shadow {
  -webkit-box-shadow: 5px 10px 8px 10px #888888;
          box-shadow: 5px 10px 8px 10px #888888;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-weight: 900;
}

/*====== Back to home button ================= */
.back_to_home {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 10%;
  z-index: 100;
}

.back_to_home i {
  font-size: 90px;
  color: green;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.back_to_home i:hover {
  color: #00b300;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.second-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid green;
  margin-left: 3%;
  margin-right: 3%;
}

.second-header::after {
  content: "";
  width: 150px;
  height: 8px;
  background: green;
}

.second-header h2 {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 3%;
}

/*=== Hlavička === */
.ham-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: green;
}

.ham-menu i {
  display: block;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
}

nav .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

nav .icon a {
  color: #fff;
  font-size: 35px;
}

nav .icon i {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

nav .icon i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -31px;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  background-color: green;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
}

nav ul li a:hover {
  color: #e6e6e6;
  background-color: #00b300;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
}

.header-left {
  z-index: 1;
}

.header-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: auto;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}

.header-right img {
  position: absolute;
  top: 0;
  right: 0;
}

.header-right h1 {
  font-size: 120px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  margin-left: 3%;
  margin-top: 3%;
  line-height: 100px;
  color: green;
}

.header-right h2 {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  margin-left: 3%;
}

.header-right h3 {
  color: green;
  font-size: 65px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  margin-left: 3%;
}

.header-right h4 {
  color: #e45e5e;
  font-size: 35px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 3%;
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.header-right ul i {
  color: green;
  font-size: 30px;
  vertical-align: -3px;
  padding-right: 5px;
}

.header-right ul li {
  display: inline-block;
  margin-right: 2%;
  font-weight: 900;
}

.header-right ul li a {
  color: #000;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-right ul li a:hover {
  color: green;
  -webkit-transition: color .3s;
  transition: color .3s;
}

/*====== O MNE BLOCK ========== */
.o_mne_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8f8;
  padding-top: 3%;
}

.o_mne_block p {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px;
  line-height: 35px;
}

.o_mne_block a {
  margin-top: 3%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.o_mne_block a img {
  border-radius: 50%;
}

.kurz-block {
  background-color: #f8f8f8;
  padding-top: 3%;
}

.content-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-line svg {
  margin-bottom: 10px;
  color: green;
}

.content-line .line {
  background-color: green;
  height: 90%;
  width: 1px;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 30px);
  margin-left: 3%;
  margin-right: 3.4%;
}

.content-wrap .line {
  display: none;
}

.content-wrap ul {
  display: none;
}

.content-wrap ul li {
  font-size: 19px;
  padding: 8px 20px;
  margin: 3px 0;
}

.content-wrap:nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 1%;
}

.content-wrap:nth-of-type(odd) h4 {
  text-align: right;
  padding-right: 20px;
  font-weight: 700;
  color: green;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap:nth-of-type(odd) h4:hover {
  color: #00b300;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap:nth-of-type(odd) ul {
  padding-right: 20px;
}

.content-wrap:nth-of-type(odd) ul li {
  list-style-type: none;
  text-align: right;
}

.content-line:nth-of-type(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-line:nth-of-type(2n) svg {
  margin-bottom: 10px;
  color: green;
}

.content-line:nth-of-type(2n) .line {
  background-color: green;
  height: 90%;
  width: 1px;
}

.content-wrap:nth-of-type(2n) {
  margin-left: auto;
  padding-top: 1%;
}

.content-wrap:nth-of-type(2n) h4 {
  text-align: left;
  padding-left: 20px;
  font-weight: 700;
  color: green;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap:nth-of-type(2n) h4:hover {
  color: #00b300;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap:nth-of-type(2n) ul {
  padding-left: 20px;
}

.content-wrap:nth-of-type(2n) ul li {
  list-style-type: none;
  text-align: left;
}

/*=== CENNIK BLOCK ===== */
.cennik-block {
  background-color: #f8f8f8;
  padding-top: 3%;
}

.cennik-block table {
  width: 94%;
  margin-left: 3%;
}

.cennik-block table td {
  border-bottom: 1px solid #adabab;
}

.cennik-block table ul {
  padding: 0;
}

.cennik-block table ul li {
  list-style-type: none;
}

/*=== SLUZBY BLOCK ================ */
.sluzby-block {
  background-color: #f8f8f8;
  padding-top: 3%;
}

.sluzby-block h3 {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 1%;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 20px;
  color: green;
}

.sluzby-block .acoredeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  background-color: green;
  margin-top: 1%;
  margin-left: 3%;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.sluzby-block .acoredeon:hover {
  background-color: #00b300;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.sluzby-block .acoredeon i {
  color: #fff;
  font-size: 40px;
  margin-right: 1%;
}

.sluzby-block span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
}

.sluzby-block .panel {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  margin-left: 3%;
  background-color: green;
  color: #fff;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
}

.sluzby-block .panel p {
  margin-top: 20px;
  font-weight: 0;
  font-style: italic;
}

.sluzby-block .active {
  background-color: #00b300;
}

.sluzby-block-right .acoredeon {
  margin-right: 3%;
}

.sluzby-block-right p {
  margin-right: 3%;
}

/*=== METODY BLOCK ====================== */
.metody-block {
  background-color: #f8f8f8;
  padding-top: 3%;
}

.metody-block .method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.metody-block .method li {
  list-style-type: square;
  font-size: 18px;
  font-weight: 600;
}

/*=== KONTAKT BLOCK ============================= */
.kontakt-block {
  background-color: #f8f8f8;
  padding-top: 3%;
}

.r-kontakt {
  height: 450px;
}

.r-kontakt img {
  width: 94%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-kontakt ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #999999;
  padding: 10px;
}

.l-kontakt ul li svg {
  margin-right: 3px;
}

.l-kontakt ul li a {
  color: #000;
  font-weight: 900;
  text-decoration: none;
}

/* == fotogaleria ============================================= */
.fotogallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  background-color: green;
}

.fotogallery-header h1 {
  font-size: 115px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: #fff;
}

.wraper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: .1%;
  background-color: green;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
}

.wraper-header:hover {
  background-color: #009a00;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.wraper-header h2 {
  color: #fff;
  font-weight: 900;
}

.fotogalery-block img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px 2.5px;
}

/*====== MODAL BOX ==========*/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.7);
}

/* pc */
@media (max-width: 2650px) {
  .ham-menu {
    display: none;
  }
}

/* Laptop-l */
@media (max-width: 1440px) {
  .ham-menu {
    display: none;
  }
}

/* Laptop */
@media (max-width: 1025px) {
  .ham-menu {
    display: none;
  }
}

/* TABLET */
@media (max-width: 769px) {
  .header-left {
    display: none;
  }
}

/* TELEFON */
@media (max-width: 576px) {
  .ham-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-left {
    display: none;
  }
  nav {
    display: block;
    height: 0;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 128, 0, 0.8);
    -webkit-transition: height .4s;
    transition: height .4s;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    margin-left: 0;
    height: 0;
  }
  nav ul .acordeon-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 0;
    padding: 0;
    -webkit-transition: padding .4s, height .4s;
    transition: padding .4s, height .4s;
  }
  nav ul .acordeon-li:last-child {
    border: none;
  }
  nav ul .acordeon-li a {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 128, 0, 0);
    padding: 0px;
  }
  nav .icon {
    display: none;
  }
  .show-nav {
    height: 487px;
    -webkit-transition: height .4s;
    transition: height .4s;
  }
  .acordeon-li.show-li {
    height: 100px;
    padding: 25px;
    -webkit-transition: padding .4s, height .4s;
    transition: padding .4s, height .4s;
  }
  .header-right h1 {
    font-size: 78px;
  }
  .header-right h2, .header-right h4 {
    font-size: 22px;
  }
  .header-right h3 {
    font-size: 40px;
  }
  .header-right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    padding-left: 3%;
    padding-top: 3%;
  }
  .header-right ul li i {
    font-size: 24px;
  }
  .o_mne_block p {
    font-size: 17px;
  }
  .cennik-block table {
    width: 100%;
    margin-left: 0;
  }
  .content-wrap:nth-of-type(odd) {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .content-wrap:nth-of-type(odd) ul {
    padding: 0;
  }
  .content-wrap:nth-of-type(odd) ul li {
    text-align: left;
  }
  .content-wrap:nth-of-type(odd) h4 {
    margin-left: 3%;
    text-align: left;
  }
  .content-wrap:nth-of-type(2n) {
    margin-left: 3%;
    width: 100%;
  }
  .content-wrap:nth-of-type(2n) ul:nth-child(1) {
    display: block;
  }
  .content-wrap:nth-of-type(2n) ul {
    padding: 0;
  }
  .content-wrap:nth-of-type(2n) h4 {
    padding-left: 3%;
  }
  .method {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .sluzby-block ul {
    margin-left: 1%;
    margin-right: 1%;
  }
  .sluzby-block-left .acoredeon {
    margin-right: 3%;
  }
  .sluzby-block-left .panel {
    margin-right: 3%;
  }
  .sluzby-block-right .panel {
    margin-right: 3%;
  }
  .modal img {
    width: 70%;
  }
  .back_to_home {
    right: 5%;
    bottom: 2%;
  }
  .back_to_home i {
    color: #e45e5e;
    font-size: 70px;
  }
}
/*# sourceMappingURL=style.css.map */