@import "scss/mixin";
@import "scss/variables";

// * {
//     outline: 1px solid red;
// }

/* Všeobecné */
.second-header { 
    @include second-header();
   
   }

.row {
    position: relative;
    z-index: 2;
}

.background-line {
    width: 100%;
    height: 300px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;

    background-color: $main-color;
}


/*=== Hlavička === */

.header-left {
    max-width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 1;

}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  

    max-width: 100%;
    height: auto;
    background-color: $main-block-backgroundColor;
    position: relative;
    z-index: 1;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

        h2 {
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;

            margin-left: $main-margin;
            margin-top: 10%;

        }

     
        h1 {
            font-size: 120px;
            font-weight: 900;
            font-family: $main-font;

            margin-left: $main-margin;

            line-height: 100px;

            color: $main-color;

        }


        p {
            width: 480px;
            margin-left: $main-margin;
        }

        .phone {
            display: inline-block;
            color: #000;

            text-align: right;
            text-decoration: none;

            padding-right: 10px;
            margin-left: 720px;

            font-weight: 700;
            font-size: 23px;

                &:hover {
                    text-decoration: underline;
                    color: rgb(228, 94, 94);
                }
        }


        nav {
            background-color: $main-color;

            ul {
                margin-left: -31px;
                margin-bottom: 0;

                li {
                    display: inline-block !important;
                    padding: 20px 25px 20px 25px;

                    a {
                        color: #fff;
                        text-decoration: none;

                        font-size: 20px;
                        font-weight: 900;

                    }
                }
            }
        
        }

}

/*====== O MNE BLOCK ========== */

.about-right {
    background-color: $main-block-backgroundColor;
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-left {
    background-color: $main-block-backgroundColor;

        h2 {
            @include h2-text()
            
        }

        p {
            margin-left: $main-margin;
            margin-right: $main-margin;
        }
}

// ======= KURZY BLOCK ============================================
.kurz-block {
    @include block();

}

.content-line {
 
    @include content-line();


}

.content-wrap {
    display: flex;
    width: calc(50% - 30px);
    margin-left: 3%;
    margin-right: 3.4%;
}


.content-wrap:nth-of-type(odd){ 

    @include content-wrap();
}

.content-line:nth-of-type(2n) {
    @include content-line();
    
}

.content-wrap:nth-of-type(2n){
    @include content-wrap-2();
   
}

/*=== CENNIK BLOCK ===== */

.cennik-block {
    @include block();

        table {
            width: 94%;
            margin-left: $main-margin;
            
        }
}

/*=== SLUZBY BLOCK ================ */

.sluzby-block{
    @include block();
        h3 {
            margin-top: $main-margin;
            margin-left: $main-margin;
            margin-bottom: 1%;
            font-weight: 900;
            color: $main-color;
        }

        ul {
            margin-left: $main-margin;
            margin-right: $main-margin;

            li {
                list-style-type: square;
            }
        }

        span {
            font-weight: 900;
        }
}

/*=== METODY BLOCK ====================== */
.metody-block {
    @include block();

        .method {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: $main-margin;
            margin-left: $main-margin;
            margin-right: $main-margin;

                li {
                    list-style-type: square;
                    font-size: 18px;
                    font-weight: 600;
                }
        }
}






